# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @gilbertw @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @gilbertw @jeffreyrichter @vhvb1989 @vinjiang @katmsft @JinmingHu-MSFT

# Samples
/samples/ @gilbertw @jeffreyrichter

# Service teams

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng
