# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @LarryOsterman

# AzureSdkOwners: @rickwinter
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @LarryOsterman @Azure/azure-sdk-write-identity

####################
# Client Libraries
####################

# PRLabel: %App Configuration
/sdk/appconfiguration/                                             @antkmsft @LarryOsterman @RickWinter

# AzureSdkOwners:                                                  @rickwinter
# ServiceLabel: %App Configuration
# ServiceOwners:                                                   @antkmsft @LarryOsterman @RickWinter

# PRLabel: %Attestation
/sdk/attestation/                                                  @ahmadmsft @anilba06 @gkostal @LarryOsterman @rickwinter

# ServiceLabel: %Attestation
# ServiceOwners:                                                   @ahmadmsft @anilba06 @gkostal

# PRLabel: %Event Hubs
/sdk/eventhubs/                                                    @axisc @hmlam @sjkwak

# ServiceLabel: %Event Hubs
# ServiceOwners:                                                   @axisc @hmlam @sjkwak

# PRLabel: %KeyVault
/sdk/keyvault/                                                     @Azure/azure-sdk-write-keyvault

# AzureSdkOwners:                                                  @Azure/azure-sdk-write-keyvault
# ServiceLabel: %KeyVault
# ServiceOwners:                                                   @Azure/azure-sdk-write-keyvault @chen-karen

# PRLabel: %Storage
/sdk/storage/                                                      @antkmsft @EmmaZhu @Jinming-Hu @LarryOsterman @microzchang @vinjiang

# ServiceLabel: %Storage
# ServiceOwners:                                                   @Jinming-Hu @microzchang @vinjiang

# PRLabel: %Tables
/sdk/tables/                                                       @antkmsft @LarryOsterman

# AzureSdkOwners:                                                  @rickwinter
# ServiceLabel: %Tables
# ServiceOwners:                                                   @antkmsft @LarryOsterman

# PRLabel: %EngSys
/sdk/template/                                                     @danieljurek @LarryOsterman @RickWinter @weshaggard

# AzureSdkOwners:                                                  @danieljurek
# ServiceLabel: %EngSys
# ServiceOwners:                                                   @danieljurek @LarryOsterman @RickWinter @weshaggard

# ServiceLabel: %Operator Nexus - Network Cloud
# ServiceOwners:                                                   @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########

/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter
