Source: @TARGET_NAME@-cpp
Version: @AZ_LIBRARY_VERSION@
Build-Depends: azure-storage-common-cpp
Description: Microsoft Azure Storage Files Shares SDK for C++
  This library provides Azure Storage Files Shares SDK.
Homepage: https://github.com/Azure/azure-sdk-for-cpp
Supports: !uwp
