Source: @TARGET_NAME@-cpp
Version: @AZ_LIBRARY_VERSION@
Build-Depends: azure-core-cpp, libxml2
Description: Microsoft Azure Common Storage SDK for C++
  This library provides common Azure Storage-related abstractions for Azure SDK.
Homepage: https://github.com/Azure/azure-sdk-for-cpp
Supports: !uwp
