# Copyright (c) Microsoft Corporation. All rights reserved.
# SPDX-License-Identifier: MIT
#
Source: azure-storage-blobs-cpp
Version: @AZ_LIBRARY_VERSION@
Build-Depends: azure-storage-common-cpp
Description: Microsoft Azure Storage Blobs SDK for C++
  This library provides Azure Storage Blobs SDK.
Homepage: https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/storage/azure-storage-blobs
Supports: !uwp
