{
  "Entries": [
    {
      "RequestUri": "https://gearamakv1.vault.azure.net/secrets/FirstCreateTest?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "tags": {}
        },
        "value": "secretValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secretValue",
        "id": "https://gearamakv1.vault.azure.net/secrets/FirstCreateTest/cd57da67ae584f1bb471aea6091a51f5",
        "attributes": {
          "enabled": true,
          "created": 1668132178,
          "updated": 1668132178,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://gearamakv1.vault.azure.net/secrets/FirstCreateTest?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secretValue",
        "id": "https://gearamakv1.vault.azure.net/secrets/FirstCreateTest/cd57da67ae584f1bb471aea6091a51f5",
        "attributes": {
          "enabled": true,
          "created": 1668132178,
          "updated": 1668132178,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {}
}
